$primary-white: #ffffff;
$primary-black: #191717;

$primary-color: #ed3237;
$primary-light: #ff6b62;
$primary-dark: #b30010;

$secondary-color: #1685cd;
$secondary-light: #61b4ff;
$secondary-dark: #00599c;